<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,800|Lora' rel='stylesheet' type='text/css'>
	<title>New Zealand</title>
</head>

<body>

	<header>
		<nav>
			<ul class="nav">
				<li><a class="button" href="newzealand.html">New Zealand</a></li>
				<li><a class="button" href="stuff_I_did.html">Stuff I Did</a></li>
				<li><a class="button" href="places_I_went.html">Places I Went</a></li>
			</ul>
		</nav>

		<h1>MY SEMESTER IN NEW ZEALAND</h1>
	</header>


		<div id= "sidebar">

			<a class="button-1" href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
			<br />
			<a class="button-1" href="https://www.google.com/?gws_rd=ssl" target="_blank">Google</a>
			<br />
			<a class="button-1" href="https://www.yahoo.com" target="_blank">Yahoo</a>

		</div>


		<div id="wrapper">

			<p class="one">I studied abroad in Dunedin, New Zealand in the summer of 2011, when I was a junior in college. This website is about some of the places I visited, and some of what I did.</p>

			<img src="pic1.jpg" width="960" height="720">

			<div class="clear"></div>

			<p class="two">Needless to say, I had a lot of fun there and want to go back. Hopefully sometime soon!</p>

		</div>

		<footer>
			<nav>
			<ul class="nav">
				<li><a class="button" href="newzealand.html">New Zealand</a></li>
				<li><a class="button" href="stuff_I_did.html">Stuff I Did</a></li>
				<li><a class="button" href="places_I_went.html">Places I Went</a></li>
			</ul>
		</nav>
		</footer>

</body>
</html>