<<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form method= "post" action="/confirm" class="form">
  <p>
  <label><b>Your Full Name</b></label></p>
  <p>
    <input type="text" name="user_input">
  </p>
  <p>
    <label><b>Email Address</b></label>
    </p>
  <p>
    <input type="text" name="user_email">
    <label><b><br />
      Your Request</b></label></p>
  <p>
    <textarea name="user_story" cols="50"></textarea>
  </p>
  <p><button type="submit">Submit</button></p>
</form>
</body>
</html>